<%# Maybe this screen can be a react component to make a nice interaction adding new pokemons to the trade %>

<div class="container">
  <h1>New trade</h1>

  <div class="row">
    <div class="col">
      <input class="form-control" type="text" name="pokemon">
    </div>

    <div class="col">
      <input class="form-control" type="text" name="pokemon">
    </div>
  </div>
</div>
